<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Exercice 6</title>

</head>

<body>
  <div ng-app="myApp" ng-controller="showController">
    <button name="button" ng-click="show1()">Texte 1</button>
    <button name="button" ng-click="show2()">Texte 2</button>
    <p ng-hide="textShow1">1-1ofslfbffbskdffsdfzfafzaeza ofslfbffbskdffsdfzfafzaezasdfzfafzaeza ofslfbffbskdffsdfzfa</p>
    <p ng-hide="textShow2">2-ofslfbffbskdffsdfzfafzaeza sdfzfafzaeza ofslfbff</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="scriptExo6.js"></script>
</body>

</html>
